

*{
    margin: 0px;
    padding: 0px;
   }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #ED3237;
     
    
    }

    .logomarca {
      text-align: center;
      margin-bottom: -1px;
      display: flex;
      /* justify-content: space-between; */
      align-items: center;

    }

    .logomarca img {
      max-width: 41%;
      height: auto;
    }

    .titulo {
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      padding-right: 10px;
      font-family:  "Oleo Script",Arial, Helvetica, sans-serif;
    }

    @media only screen and (min-width: 768px) {
      .botoes {
        display: flex;
        color: #16224E;
        margin-bottom: -25px;
        justify-content: center;
    }
      #equipe {
        background-color: #F5E5CF;
    }
    .bloco1 {
      display: inline-block;
      text-align: center;
      /* height: 100%; */
      margin-bottom: -44px;
      padding-bottom: 36px;
      width: 100%;
      /* margin-top: 13px; */
      padding-top: 45px;
  }
      .nos{
        display: none;
    }
     
    .logomarca img {
      padding: 5px;
      max-width: 23%;
      height: auto;
      margin-left: -375px;
  }


        button {
          width: 148px;
          height: 33px;
          border: 2px;
          background-color: #ED3237;
          border-radius: 50px;
          margin: auto;
          margin-top: -53px;
          padding-bottom: 10p;
          margin-bottom: 33px;
          }
          button > a{
            text-decoration: none;
            font-weight: bold;
            font-size: 11px;
            color: #ffffff;
          }
          button:hover{
              background-color: #000000;
              color: white;
          }
    }

    /* Estilos para dispositivos móveis (largura máxima de 768px) */
    @media only screen and (max-width: 768px) {
      
      .logomarca img {
        max-width: 29%;
        height: auto;
        margin-top: 4px;
        position: relative;
        left: 100px;
      }

      .titulo {
        margin: 0 auto; /* Centraliza o título */
        
      }
      .titulo {
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        font-family:  "Oleo Script",Arial, Helvetica, sans-serif;
      }

      .agende {
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        font-family:  "Oleo Script",Arial, Helvetica, sans-serif;
        border-radius: 20px;
      }
    
 
      #video-container,
      #curiosidades-video-container {
        padding-bottom: 56.25%;
      }

      .sidebar {
        width: 200px;
      }

      .open-btn {
        display: block;
      }

      .header-menu {
        display: none;
      }

      .menu-opened .header-menu {
        display: block;
      }
    }

    /* Estilos para dispositivos com largura maior que 768px (PCs e tablets) */
    @media only screen and (min-width: 769px) {
      
      .container1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
      }
      .profissao{
      
        display: none;
      }

      #video-container,
      #curiosidades-video-container {
        padding-bottom: 31.25%;
      }

      .sidebar {
        width: auto;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
      }

      .open-btn {
        display: none;
      }

      .sidebar a {
        padding: 16px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
      }

      .sidebar a:hover {
        color: #f1f1f1;
      }

      .header-menu {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: row;
        align-content: space-between;
        flex-wrap: nowrap;
      }

      .menu-opened .header-menu {
        display: block;
      }
   
    
      
    }
    header {
        background-image: url(agua.jpg);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: auto; /* Estica a imagem na horizontal */
        }

    #baixo {
      padding-bottom: 100px;
    }

   

    /* Estilos para as seções de vídeo */
    .video-section {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .video-label {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      color: rgb(255, 255, 255);
    }

    #video-container,
    #curiosidades-video-container {
      position: relative;
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
    }

    #popup-video,
    #curiosidades-popup-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    #popup-buttons,
    #curiosidades-popup-buttons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      padding: 10px;
    }

    #popup-buttons button,
    #curiosidades-popup-buttons button {
      background-color: rgba(255, 0, 0, 0.459);
      color: #000000;
      padding: 5px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.3s ease-in-out;
      margin: 0 10px;
    }

    #popup-buttons button:hover,
    #curiosidades-popup-buttons button:hover {
      background-color: #0077ff;
      color: #ffffff;
      transform: scale(1.1);
    }

    /* Estilos para a barra lateral (menu) */
    .sidebar {
      width: 189px;
      height: 77vh;
      background-color: #000000;
      position: absolute;
      top: 85px;
      left: -200px;
      overflow-x: hidden;
      padding-top: 23px;
      transition: 1.0s;
      z-index: 2;
      border-radius: 0px 0px;
    }
 

    .sidebar a {
      padding: 16px;
      text-decoration: none;
      font-size: 18px;
      color: #ffffff;
      display: block;
      text-align: center;
    }

    .sidebar a:hover {
      color: #ff0000;
    }

    .content {
      margin-left: 0;
      transition: margin-left 0.5s;
    }

    /* Estilos para o ícone do menu */
    .open-btn {
        font-size: 35px;
        cursor: pointer;
        color: #000000;
        position: absolute;
        left: 16px;
        z-index: 3;
        padding: 10px;
    }

    /* Estilos para o ícone de fechar o menu */
    .close-arrow {
      font-size: 36px;
      margin-left: 50px;
      display: flex;
    }
    
    

    .header-menu > a {
      text-decoration: none;
      color: #000320;
      padding: 15px;
      font-size: larger;
      font-weight: bold;
  }
    .header-menu a:hover{
      color: #ffffff;
    }
  

    .container {
      display: flex;
      justify-content: space-between;
    
    }
    @media only screen and (max-width: 768px) {
      .desktop-img {
        display: none; /* Esconde a imagem para telas pequenas */
      }
    }

    /* Media query para tela com largura mínima de 768px */
    @media only screen and (min-width: 768px) {
      .sidebar{
        display: none;
      }
      

      .mobile-img {
        display: none; /* Esconde a imagem para telas grandes */

      }
      
      

      .img {
        flex: 1;
        max-width: 100%;
        height: auto;
        
       
      }
      .botoes{
        display: flex;
        color: #16224E;
        margin-bottom: -25px;

      }
     
      .bloco1 {
        display: inline-block;
        text-align: center;
        /* height: 100%; */
        margin-bottom: -47px;
        padding-bottom: 33px;
      }
      .bloco {
        display: inline-block;
        text-align: center;
        box-shadow: 1px 2px 0px black;
        margin: 7px;
        background-color: #ED3237;
      }
      .bloco:hover{
        background-color: #000000;
        color: #EAEAEA;
        display: inline-block;
        text-align: center;
        box-shadow: 1px 2px 0px #16224E;
        transition: 0.380s;
       
      }
      
      .redondo {
        width: 124px;
        height: 141px;
        /* border-radius: 50px; */
        padding: 10px;
        padding-bottom: 10px;
      }
      
      .bloco > h2{
        text-align: center;
        /* font-size: 14px; */
        padding-bottom: 10px;
        padding-top: -5px;
        margin-top: 15px;
    
      }
      
       .window-container {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 9999;
      }

      .window {
          width: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #16224E;
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 20px;
          max-width: 90%;
          max-height: 90%;
          overflow-y: auto;
      }

      .window h2 {
        text-align: center;
          font-size: 24px;
          margin: 0 0 15px;
        color: white;
      }
  
      .window p {
        text-align: center;
          font-size: 16px;
          line-height: 1.6;
          margin: 0;
          color: white;
      }

    
      .close-btn {
          color: white;
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 24px;
          cursor: pointer;
      }
      form {
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff; /* Cor do fundo do formulário */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
      }
      input[type="text"], textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box; /* Faz com que o padding não aumente a largura do input */
      }
      textarea {
        height: 100px; /* Altura do campo de texto */
      }
      input[type="submit"] {
        background-color: #16224E; /* Cor do botão */
        color: #ffffff; /* Cor do texto do botão */
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #0D152A; /* Mudança de cor ao passar o mouse */
      }

      .contato{
        margin-top: -3px;
      
      }
      

      footer {
        background: linear-gradient(to right, #ED3237, #8d070c);
        color: #fff;
        padding: 20px 0;
        text-align: center;
        margin-top: 45px;
      }
      
      .footer-container {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
      }
     
      
      .footer-item img {
        width: 50px;
        height: 50px;
        transition: transform 0.3s ease-in-out;
        padding: 10px;
      }
      
      .footer-item img:hover {
        transform: scale(1.2);
      }
      
      .footer-address, .footer-copyright {
        margin-top: 10px;
        font-size: 14px;
      }
      
      .footer-copyright {
        font-style: italic;
      }
      #img2{
        margin-bottom: 40px;
      }
      #historia{
        display: none;
      }
      #carrosel{
        display: none;
      }
    }
  


    @media only screen and (max-width: 768px) {
      #carro{
        display: none;
      }
      button {
        width: 148px;
        height: 33px;
        border: 2px;
        background-color: #ED3237;
        border-radius: 50px;
        margin: auto;
        margin-top: -53px;
        padding-bottom: 10p;
        margin-bottom: 33px;
        }
        button > a{
          text-decoration: none;
          font-weight: bold;
          font-size: 11px;
          color: #ffffff;
        }
        button:hover{
            background-color: #000000;
            color: white;
        }

       .botoes {
        display: flex;
        color: #16224E;
        margin-bottom: -25px;
        justify-content: center;
    }
      
      .ovo-pc{
        display: none;
      }

      #equipe{
        background-color: #F5E5CF;
      }
      #btnTopo {
        font-size: 28px;
        width: 66px;
        display: none;
        position: fixed;
        bottom: 20px;
        right: -7px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #000000;
        color: white;
        cursor: pointer;
        padding: 4px;
        height: 25px;
        border-radius: 50px 0px 0px 50px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transition: opacity 0.3s, transform 0.3s;
        text-align: center;
        bottom: 103px;
      }
      
      .container {
        flex-direction: column;
        align-items: center;
        
      }
      .img {
        flex: 1;
        max-width: 100%;
        height: auto;
        
      }
      #img{
        margin-top: -7px;
      }
      #img2{
        margin-bottom: 42px;
        margin-top: -24px;
      }

      .img-sobre {
        flex: 1;
        max-width: 100%;
        height: auto;
        margin-top: 37px;
       
      }

    
      .agua{
        position: absolute;
        left: 246px;
     
  
      }
    
      button {
        width: 148px;
        height: 33px;
        border: 2px;
        color: #ffffff;
        background-color: #ED3237;
        border-radius: 50px;
        font-size: 11px;
        margin: auto;
        font-weight: bold;
        margin-top: -53px;
        padding-bottom: 10p;
        margin-bottom: 33px;
      
          }
        button:hover{
            background-color: #000000;
            color: white;
        }

        #foto-ovo{
          margin-top: -17px;
        }
        .botoes{
            display: flex;
            color: #16224E;
            margin-bottom: -25px;
           
        }
        .nos1{
          text-align: center;
          color: #000000;
          margin-top: 23px;
      }
    
        .nos{
            text-align: center;
            color: #ffffff;
            margin-top: 23px;
        }
    
        .nosso-foco{
            font-size: 22px;
            margin-top: 10px;
            margin-left: 32px;
            color: #ffffff;
        
        }
        .somos {
            font-size: 12px;
            margin-top: 10px;
            margin-left: 21px;
            color: #ffffff;
            line-height: 1.5;
            padding: 10px;
            font-family: math;
            margin-bottom: 48px;
        }
        .bloco1 {
          display: inline-block;
          text-align: center;
          /* height: 100%; */
          margin-bottom: -47px;
          padding-bottom: 33px;
      }
        .bloco {
          display: inline-block;
          text-align: center;
          box-shadow: 1px 2px 0px black;
          margin: 7px;
          background-color: #ED3237;
      }
        .bloco:hover{
          background-color: #000000;
          color: #EAEAEA;
          display: inline-block;
          text-align: center;
          box-shadow: 1px 2px 0px #000000;
          transition: 0.380s;
         
        }
        
        .redondo {
          width: 124px;
          height: 141px;
          /* border-radius: 50px; */
          padding: 10px;
          padding-bottom: 10px;
      }
        
        .bloco > h2{
          text-align: center;
          font-size: 14px;
          padding-bottom: 10px;
          padding-top: -5px;
          margin-top: -11px;
        }
        
         .window-container {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
        }
  
        .window {
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #16224E;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            max-width: 90%;
            max-height: 90%;
            overflow-y: auto;
        }
  
        .window h2 {
          text-align: center;
            font-size: 24px;
            margin: 0 0 15px;
          color: white;
        }
    
        .window p {
          text-align: center;
            font-size: 16px;
            line-height: 1.6;
            margin: 0;
            color: white;
        }
  
      
        .close-btn {
            color: white;
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            cursor: pointer;
        }

        form {
          max-width: 400px;
          margin: 0 auto;
          padding: 20px;
          background-color: #ffffff; /* Cor do fundo do formulário */
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        input[type="text"], textarea {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-sizing: border-box; /* Faz com que o padding não aumente a largura do input */
        }
        textarea {
          height: 100px; /* Altura do campo de texto */
        }
        input[type="submit"] {
          background-color: #16224E; /* Cor do botão */
          color: #ffffff; /* Cor do texto do botão */
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
        input[type="submit"]:hover {
          background-color: #0D152A; /* Mudança de cor ao passar o mouse */
        }

        .contato{
          margin-top: -3px;
        
        }
        

        footer {
          background: linear-gradient(to right, #ED3237, #8d070c);
          color: #fff;
          padding: 20px 0;
          text-align: center;
          
        }
        
        .footer-container {
          display: flex;
          justify-content: center;
          margin-bottom: 24px;
        }
       
        
        .footer-item img {
          width: 50px;
          height: 50px;
          transition: transform 0.3s ease-in-out;
          padding: 10px;
        }
        
        .footer-item img:hover {
          transform: scale(1.2);
        }
        
        .footer-address, .footer-copyright {
          margin-top: 10px;
          font-size: 14px;
        }
        
        .footer-copyright {
          font-style: italic;
        }
        
    }
    





    .videos-container {
      display: flex;
      overflow-x: hidden; /* Ocultar barra de rolagem horizontal */
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      margin-bottom: 10px;
      position: relative;
  }

  .video {
      scroll-snap-align: start;
      flex-shrink: 0;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
  }

  .video video {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
  }

  @media (max-width: 600px) {
      .videos-container {
          flex-wrap: nowrap;
          touch-action: pan-y;
          -webkit-overflow-scrolling: touch;
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;
      }

      .video {
          flex: 0 0 auto;
          width: 100%;
          height: auto;
      }

      .navigation-buttons {
          display: flex;
      }
  }

  @media (min-width: 601px) {
      .video {
          display: none;
      }
  }

  .navigation-buttons {
      display: flex;
      position: relative;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      /* z-index: 1; */
      justify-content: space-around;
  }

  @media (min-width: 601px) {
      .navigation-buttons {
          display: none;
      }
  }

  .boto {
      background-color: rgb(255, 51, 0);
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      margin: 0 5px;
  }

 